<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Part Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        form {
            margin-bottom: 20px;
        }

        table {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-4 mb-4">Product Detail</h1>
    <form action="#" th:action="@{/showFormAddProduct}" th:object="${product}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{price}" placeholder="Price" class="form-control mb-4 col-4"/>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/>
        </div>
        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
            <ul>
                <li th:each="err: ${#fields.allErrors()}" th:text="${err}"></li>
            </ul>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </form>

    <div class="row">
        <div class="col-md-6">
            <h2>Available Parts</h2>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Inventory</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tempPart : ${availparts}">
                    <td th:text="${tempPart.name}"></td>
                    <td th:text="${tempPart.price}"></td>
                    <td th:text="${tempPart.inv}"></td>
                    <td>
                        <a th:href="@{/associatepart(partID=${tempPart.id})}" class="btn btn-primary btn-sm mb-3">Add</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h2>Associated Parts</h2>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Inventory</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tempPart : ${assparts}">
                    <td th:text="${tempPart.name}"></td>
                    <td th:text="${tempPart.price}"></td>
                    <td th:text="${tempPart.inv}"></td>
                    <td>
                        <a th:href="@{/removepart(partID=${tempPart.id})}" class="btn btn-primary btn-sm mb-3">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>
</html>
